tasks:
  - name: Setup Buildozer
    before: |
      sudo apt update
      sudo apt install -y git zip unzip openjdk-17-jdk autoconf libtool pkg-config automake libffi-dev build-essential wget curl
    init: |
      pip install --upgrade pip
      pip install cython buildozer
    command: |
      echo "准备就绪，运行 buildozer android debug 即可打包"

vscode:
  extensions:
    - ms-python.python
